<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<plugin name="Kuhnuri" description="Plugin for accessing BaseX DB" version="0.1.0"
        vendor="Jarno Elovirta" class="de.axxepta.oxygen.workspace.WorkspaceAccessPlugin"
        classLoaderType="preferReferencedResources">
    <runtime>

        <library name="lib/author-0.1.0.jar" />
        <library name="lib/jersey-core-1.9.jar" />
        <library name="lib/jide-oss-3.6.7.jar" />
        <library name="lib/jersey-client-1.9.jar" />
        <library name="lib/basex-8.5.3.jar" />
        <library name="lib/log4j-api-2.3.jar" />
        <library name="lib/log4j-core-2.3.jar" />
        <library name="lib/jackson-annotations-2.9.2.jar" />
        <library name="lib/jackson-core-2.9.2.jar" />
        <library name="lib/jackson-databind-2.9.2.jar" />
        <library name="lib/jackson-datatype-jsr310-2.9.2.jar" />
        <library name="lib/guava-23.4-jre.jar" />
<!--
        <library name="lib/argon-0.0.3.jar" />
        <library name="lib/jersey-core-1.9.jar" />
        <library name="lib/jide-oss-3.6.7.jar" />
        <library name="lib/jersey-client-1.9.jar" />
        <library name="lib/basex-8.5.3.jar" />
        <library name="lib/log4j-api-2.5.jar" />
        <library name="lib/log4j-core-2.5.jar" />
        <library name="lib/raven-log4j2-7.8.0.jar" />
        <library name="lib/raven-7.8.0.jar" />
        <library name="lib/slf4j-api-1.7.21.jar" />
        <library name="lib/log4j-slf4j-impl-2.1.jar" />
        <library name="lib/jackson-core-2.7.3.jar" />
-->
    </runtime>

    <extension type="WorkspaceAccess" class="de.axxepta.oxygen.workspace.ArgonWorkspaceAccessPluginExtension"/>
    <extension type="URLHandler" class="de.axxepta.oxygen.customprotocol.CustomProtocolURLHandlerExtension" />
    <extension type="LockHandlerFactory" class="de.axxepta.oxygen.customprotocol.CustomProtocolURLHandlerExtension" />

    <extension type="URLChooser" class="de.axxepta.oxygen.customprotocol.CustomProtocolChooserExtension" />
    <extension type="URLChooserToolbar" class="de.axxepta.oxygen.customprotocol.CustomProtocolChooserExtension" />


    <extension type="OptionPage" class="de.axxepta.oxygen.workspace.ArgonOptionPage"/>
    <!-- The view for BaseX Database Tree-->
    <view id="ArgonWorkspaceAccessID" initialSide="WEST" initialRow="0" />
    <!-- The view which will present messages from the plugin.-->
    <view id="ArgonWorkspaceAccessOutputID" initialSide="EAST" initialRow="0" />
    <!-- The toolbar which will contain action buttons of the plugin. -->
    <toolbar id="ArgonWorkspaceAccessToolbarID" initialSide="NORTH" initialRow="1" />
</plugin>
